@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Smooth background color transitions for the whole app */
body {
  @apply transition-colors duration-500;
}

/* Custom scrollbar for Dark Mode */
.dark ::-webkit-scrollbar {
  width: 10px;
}

.dark ::-webkit-scrollbar-track {
  background: #030712;
}

.dark ::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #334155;
}